<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">    
    <title>Login</title>
</head>

<body>
    
    <!-- Logo Decoration -->

    <div class="login_container">
        <div class="login_image">
            <img
            class="login_logo"
            src="images/logo.png"
            alt="login_logo">
        </div>
    </div>

    <!-- Login Input -->

    <div class="input_container">
        <!-- login input value -->
        <div class="id_container">
            <div class="word_id"> ID </div>
            <input class="id" type="text" placeholder="please input id">
        
        <div class="pw_container">
            <div class="word_pw"> Password</div>
            <input class="pw" type="text" placeholder="please input pw">                
        </div>
        
        </div>

        <!-- login button -->
        <div class="button_container">
            Login
        </div>
    </div>


</body>



</html>