<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">    
    <title>Query Input</title>
</head>

<body>
    
    <!-- Logo of the engine -->
    <div class='engine_logo'>
        <img src="images/logo.png"
             class="engine_logo_pic"
             alt="engine_logo_pic">
    </div>

    <!-- Query Part -->
    <div class="query_container">
        <input class="query_search" type="text" placeholder="Search Words Here">
        <a href="result.html">
            <i class="fa fa-search"></i>                
        </a>
    </div>



</body>
</html>