.engine_logo{
    padding-top: 70px; 
    text-align: center;
}

.query_container{
    padding-top: 70px;
    text-align: center;
}

.query_search{
    width : 300px;
    height: 20px;
}

.fa-search{
    margin-left: 20px;
}